$table-padding : 0 8px 0 8px;

.mat-header-cell {
  padding: $table-padding;
  font-size: 1rem;
  text-align: center;
}

.mat-cell {
  padding: $table-padding;
  text-align: center;
}

.addRowBtn{
  margin: 8px;
}

.mat-button{
  min-width: 72px;
}
