<div mat-dialog-content>
  <h2 mat-dialog-title>{{title}}</h2>
  <div *ngIf="action != dialogEvent.DELETE; else deleteTemplate">
    <mat-form-field  *ngFor="let field of fields" >
      <mat-label>{{field}}</mat-label>
      <input matInput [(ngModel)]="localData[field]">
    </mat-form-field>
  </div>
  <ng-template #deleteTemplate>
    <mat-form-field  *ngFor="let field of fields" >
      <mat-label>{{field}}</mat-label>
      <input matInput disabled value="{{localData[field]}}">
    </mat-form-field>
  </ng-template>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" (click)="doAction()">OK</button>
  <button mat-stroked-button color="accent" (click)="closeDialog()">Cancel</button>
</div>
